/*配置*/
.modify_role_permission_hide{
    display: none;
}
.role_permission_shade,.modify_role_permission_shade{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: gray;
    opacity:0.6;
    z-index: 100;
}
.deploy_part,.modify_role_permission_part{
    position: fixed;
    height: 400px;
    width:800px;
    top: 200px;
    left: 25%;
     z-index: 101;
    background: white;
}

