/*新增角色*/
.add_role_hide,.change_role_hide{
    display: none;
}
.add_role_shade,.change_role_shade{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: gray;
    opacity:0.6;
    z-index: 100;
}
.add_role_part,.change_role_part{
    position: fixed;
    height: 480px;
    width:800px;
    top: 150px;
    left: 25%;
     z-index: 101;
    background: white;
}
